body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
    padding: 80px 0;
    background-color: #111;
    position: relative;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
}

h1 {
    color: #00ffcc;
    font-size: 36px;
}

p {
    color: #bbb;
    font-size: 18px;
}

.descricao {
    max-width: 600px;
    margin: 20px auto;
}

.social-links a {
    margin: 0 10px;
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 10%;
}

#servicos, #projetos, #equipe {
    background-color: #222;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 50px;
}

h2 {
    color: #00ffcc;
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
}

.servico, .projeto, .membro {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.servico h3, .projeto h3, .membro h3 {
    color: #00ffcc;
    margin-bottom: 10px;
}

.membro img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.projeto a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}
